


<div class="container-menu2 show2">
    <nav class="menu2">
            <ul class="menu2-ul ">
                <li>
                    <a href="/">
                        Inicio
                    </a>
                </li>
                <li>
                   <a href="/menu">
                        Menu
                    </a>
                </li>
                <li>
                    <a href="/contactanos">
                        Contactanos
                    </a>
                </li>
            </ul>
    </nav>
</div>

<div class="container ">
    <div class="nombre">
        <h2>Tsunami-Coffee</h2>
    </div>
</div>

<div class="container animate__animated animate__backInDown">
    <div class="nombre-grande">
        <h2>Tsunami-Coffee</h2>
    </div>
</div>

<div class="logo animate__animated animate__fadeIn">
    <div class="logo-img">
        <img src="/img/logo-sunami.png" alt="" class="animate__animated animate__lightSpeedInLeft">
    </div>
</div>
<div class="logo2">
    <div class="logo21">
        <img src="/img/beans_optimized-logo.png" alt="granos separados" class="animate__animated animate__rotateIn">
    </div>
    <div class="logo3">
        <img src="/img/coffee2.png" alt="taza de" class="animate__animated animate__zoomIn">
    </div>
</div>

<div class="container img-1">
        <div class="btn">
            <a href="#">
                <img id="click" src="img/menu.png" alt="">
            </a>
        </div>

        <div class="stick">
            <i class="logo-type animate__animated animate__bounce "><img src="img/coffee.png" alt="logo"></i>
        </div>

    
    </div>
</div>